  <div id="infoPanel" class="panel fixed-panel">
    <div class="panel panel-heading">
        {{model.name}}
        <span class="pull-right">
            <button class="btn btn-xs btn-primary" ng-click="edit()">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
        </span>
    </div>
    <div class="panel-body">
       <div class="col-sm-6 col-sm-offset-1 col-xs-6">
            <gmd-dial class="dial-style" value="model.precentage" animate="true" innerradius="10" outerradius="5" clickable="false"></gmd-dial>
        </div>
        <div class="col-xs-8 col-xs-offset-4"> 
            <span class="glyphicon glyphicon-user glyphicon-color" aria-hidden="true" />
            {{model.author}}
        </div>
        <div class="col-sm-5 col-xs-6">
         <span class="glyphicon glyphicon-calendar glyphicon-color" aria-hidden="true" />
            {{model.startedDateTime|dateFilter}}
        </div>
            <div class="col-sm-5 col-sm-offset-2 col-xs-6">
                <span class="glyphicon glyphicon-tower glyphicon-color" aria-hidden="true" />
                {{model.endDateTime|dateFilter}}
            </div>
            <div class="row">
                <div ng-repeat="tag in model.tags" class="col-xs-4"> 
                    <h5><span class="label label-pill label-warning">{{tag.text}}</span></h5>
                </div>
            </div>
        </div>
</div>
    



