<ul ng-show="!profile.isLoggedIn" class="nav navbar-nav navbar-right">
    <li class="active"><a href="#/main"><span><span class="glyphicon glyphicon-home glyphicon-color" aria-hidden="true"></span> Home<span class="border"></span></span></a></li>

    <li>
        <button type="button" class="btn btn-default navbar-btn btn-warning" ng-click="register()">SIGN UP for FREE</button>

        <button type="button" class="btn btn-default navbar-btn btn-success" ng-click="logIn()">Log in</button>
    </li>
</ul>

<ul ng-show="profile.isLoggedIn" class="nav navbar-nav navbar-right">
    <li>
        <a href="#/viewcourse:view"><span><span class="glyphicon glyphicon-th-list glyphicon-color" aria-hidden="true"></span> View Resource <span class="border"></span></span></a>
    </li>
    <li>
        <a href="#/addcourse:add"><span><span class="glyphicon glyphicon-plus glyphicon-color" aria-hidden="true"></span> Add Resource <span class="border"></span></span></a>
    </li>
    <li>
        <span><span class="glyphicon glyphicon-user glyphicon-color" aria-hidden="true"></span> {{profile.userName}}</span>
        <button type="button" class="btn btn-default navbar-btn btn-danger" ng-click="logOut()">Log Out</button>
    </li>
</ul>
