<div class="row" ng-hide="registerForm">
    <div class="col-sm-5 col-sm-offset-3">
        <div class="panel panel-info">
            <div class="panel panel-heading">
                <h2 class="text-center">Login</h2>
            </div>
            <div class="panel-body ">
                <form class="form-horizontal">
                    <div class="form-group">
                        <!--<label for="inputEmail3" class="col-sm-3 control-label">User Name</label>-->
                        <div class="col-sm-9 col-sm-offset-2">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="User Name" ng-model="user.UserName">
                        </div>
                    </div>
                    <div class="form-group">
                        <!--<label for="inputPassword3" class="col-sm-3 control-label">Password</label>-->
                        <div class="col-sm-9 col-sm-offset-2">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="user.Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="user.isRemember"> Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-4">
                            <button type="submit" class="btn btn-success" ng-click="Login()">Log in</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-7">
                            <p>
                                <a href="#/register">Register</a> If you are a new user.
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-hide="!registerForm">
    <div class="col-sm-5 col-sm-offset-3">
        <div class="panel panel-info">
            <div class="panel panel-heading">
                <h2 class="text-center">Register</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="UserName" ng-model="user.UserName">
                        </div>
                    </div>
                    <div class="form-group">
                       <div class="col-sm-9 col-sm-offset-2">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="user.Email">
                        </div>
                    </div>
                    <div class="form-group">
                       <div class="col-sm-9 col-sm-offset-2">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="user.Password">
                        </div>
                    </div>
                    <div class="form-group">
                       <div class="col-sm-9 col-sm-offset-2">
                            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" ng-model="user.ConfirmPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-4">
                            <button type="submit" class="btn btn-success" ng-click="Register()">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
